.ReactGridGallery_tile-viewport {
    width: 325px;
    height: 280px;
    overflow: hidden;
    margin: 10px;
}

.Logo {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 50px;
}

.photo {
    width: 60%;
    height: 60%;
}