.app-header {
    background-color: #B72B2B;
    display: flex;
    padding-left: 15px !important;
    align-items: flex-start;
}

.app-header__logo {
    background: #999;
    height: 25px;
    width: 100px;
}
.app-header_text {
    margin-left: 5px;
    color: white  !important;
}
.login {
    bottom: 0;
    left: 0;
    margin-left: auto;
}